.transpa{
	background-color: rgba(0,0,0,0) !important;
	border: none !important;
}
a{
	color: white !important;
}
a:hover{
	color: #26B3FC !important;
}
#compu{
	background-image: url("../image/large.jpg");
	background-size: cover;
	background-position: center;
	height: 40em;
}
.trans{
	background-color: rgba(01,01,01,.4) !important;
	height: 40em;
}
.blank,h1{
	color: white !important;
}
.hed{
	padding-top: 15%; 
	padding-bottom: 10%;
}
.blue{
	background-color: rgba(23,81,230,.6);
	padding: 1.2%;
}